#### IC WebSocket Gateway
# the url of the IC replica/subnet
IC_URL=https://icp0.io
# gateway to canister polling interval in milliseconds
POLLING_INTERVAL=100
# the interval in milliseconds at which the gateway will send status messages to the canister, to notify that it's still alive
SEND_STATUS_INTERVAL=30000
# the public port where the gateway will listen
LISTEN_PORT=443
# the public domain name of the server
DOMAIN_NAME=example.com
# the log configuration for the output file (can also be empty). See README.md for more details
RUST_LOG=info
