#### IC WebSocket Gateway
# the url of the IC replica/subnet
IC_URL=https://icp0.io
# gateway to canister polling interval in milliseconds
POLLING_INTERVAL=100
# minimum interval between incoming messages in milliseconds
MIN_INCOMING_INTERVAL=100
# the public port where the gateway will listen
LISTEN_PORT=443
# the public domain name of the server
DOMAIN_NAME=icws.io
# the telemetry collector endpoint (leave empty to disable telemetry)
# if you're running the gateway from the docker-compose.yml file, you can use `otlp_collector` as the hostname
OPENTELEMETRY_COLLECTOR_ENDPOINT=http://otlp_collector:4317
# the log configuration (can also be empty). See README.md for more details
RUST_LOG_FILE=ic_websocket_gateway=trace
RUST_LOG_STDOUT=ic_websocket_gateway=debug
RUST_LOG_TELEMETRY=ic_websocket_gateway=trace
