WS_GATEWAY_URL=ws://127.0.0.1:8080
IC_URL=http://127.0.0.1:4943
# by setting this to 'ic', the IC_URL must be set to 'https://icp0.io'
DFX_NETWORK=local

# you shouldn't need to configure this variable unless you want to use a different canister than
# the local test canisters deployed using the test scripts
# TEST_CANISTER_ID='bkyz2-fmaaa-aaaaa-qaaaq-cai'
